@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

@using System.Security.Claims

<div class="text-center">
    <img class="title-img" src="~/images/woodtools.jpg" />
    <h1 class="title container-fluid">MR. FIX-IT</h1>
</div>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <h4>Hello @User.Identity.Name!</h4>

}
else
{
    <div class="text-center">
        <h4 class="btn btn-lg btn-default">@Html.ActionLink("REGISTER", "Register")</h4>
        <h4 class="btn btn-lg btn-default">@Html.ActionLink("LOG IN", "Login")</h4>
    </div>
}



