@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit";
}

@model MrFixIt.Models.Job

<h2>Edit Job Status</h2>

<form action="Edit" class="edit-job">
    <input type="hidden" name="id" value="@Model.JobId">

    <label for="newActive">Active:</label>
    <select type="text" name="newActive" value="@Model.Active">
        <option value="False">Inactive</option>
        <option value="True">Active</option>
    </select>
    <br />
    <label for="newCompleted"> Completed:</label>
    <select type="text" name="newCompleted" value="@Model.Completed">
        <option value="False">Incomplete</option>
        <option value="True">Completed</option>
    </select>
        <br />
        <button type="submit" class="edit-job">Submit</button>
</form>