@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit";
}

@model MrFixIt.Models.Job

<h2>Edit Job Status</h2>

<form action="Edit" class="edit-job">
    <input type="hidden" name="id" value="@Model.JobId">

    <label for="newActive">Active:</label>
    <select type="text" name="newActive" value="@Model.Active"></select>
    <br />
    <label for="newComplete"> Completed:</label>
    <input type="text" name="newCompleted" value="@Model.Completed" />
    <br />
    <button type="submit">Submit</button>
</form>