body {
    padding-top: 90px;
    color: black;
    font-family: 'Oxygen Mono', monospace;
}

.navbar-nav {
    height: 80px;
    padding-top: 15px;
}

.navbar-brand {
    padding-top: 30px;
    font-size: 25px;
}

.navbar-nav li {
    font-size: 20px;
}

.title {
    margin-top: -120px;
    margin-bottom: 70px;
    color: black;
    font-weight: bolder;
    font-size: 80px;
    text-shadow: 1px 1px 1px black;
}

.title-img {
    width: 75%;
    opacity: 0.7;
}

